body {
	overflow-x:hidden;
	overflow-y:scroll;
    display: -ms-flexbox;
    -ms-flex-direction:column;
}

.headerClass {
    margin-top: 45px;
    margin-left: 120px; 
}

.mainContent {
    margin-top: 31px;
    margin-left: 120px;
    margin-bottom: 50px; 
}

.header {
    font-weight: 700;
    margin-top: 10px;
}

.body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.noWrap {
	white-space:nowrap;	
}

select {
	max-width: 97%;
}

option.activateEdit{
    font-style:italic;
    color:#800;
}

/* Reduce the left margin in portrait mode */
@media screen and (orientation:portrait) {
    .mainContent, .headerClass {
        margin-left: 60px;
    }

    .win-back {
        font-size: smaller;
    }
}

.win-item {
	width: 160px;
	height: 40px;
	text-align:center;
	vertical-align:  middle;
	border-style:solid;
	border-width:thin;
}
	
.profileUsed {
    background-color: darkgrey;
    border-width: medium;
    border-style: inset;
    -ms-grid-column: 1;
	font-weight: bolder;
}