body {
}

.headerClass {
    margin-top: 45px;
    margin-left: 120px; 
}

.mainContent {
    margin-top: 31px;
    margin-left: 120px;
    margin-bottom: 50px; 
}

.header {
    font-weight: 700;
    margin-top: 10px;
}

.body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.noWrap {
	white-space:nowrap;	
}
